/*media queries for small devices*/
@media only screen and (max-width: 380px){
  .h-large {
    margin-top: 40px !important;
    font-size: 2.5em !important;
  }
  #banner_section {
    height: 780px;
  }
  .section_overlay {
    height: 780px;
  }
  .big_icon {
    width: 100% !important;
  }
  .big_icon_last {
    margin-top: 0px;
  }
  .big_icon2 {
    width: 100% !important;
  }
  .big_icon_last2 {
    margin-top: 0px;
  }
  .sec-header {
    padding-bottom: 20px;
  }
  #consulta_specialistul {
    left: 4%;
  }
  .overlay-content-cases {
    padding-left: 15% !important;
  }
  .introduction {
    padding-left: 15% !important;
  }
  .contact_logo {
    display: none;
  }
  .modal-content {
    height: 585px !important;
  }
  textarea.form-control {
    height: 75px !important;
  }
  #video {
    width: 265px;
    height: 150px;
  }
  iframe {
    width: 265px;
    height: 150px;
  }
}

@media only screen and (max-width: 500px) {
  #scroll_to_top + .tooltip {
    display: none !important;
  }
  .form_btn {
    width: 100%; 
    margin-top: 5px !important;
  }
  .trimite_btn {
    width: 100% !important; 
  }
  .modal-content {
    height: 450px;
  }
  .modal {
    position: absolute !important;
  }
  .form-group {
    margin-bottom: 10px!important;
  }
  textarea.form-control {
    height: 100px;
  }
  .contact_logo {
    display: none;
  }
}

@media only screen and (max-width: 560px){
  .section_overlay2 {
    height: 345px !important;
  }
  #banner_section2 {
    height: 345px !important;
  }
  #consulta_specialistul {
    left: 4%;
  }
  .contact_logo {
    display: none;
  }
}

@media screen and (max-width: 600px){
  .animation-element.slide-left.introduction {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding-left: 40px;
  }
  .animation-element.slide-right.introduction {
    width: 100%;
    margin: 0px 0px 0px 20px;
  }
  .animation-element.slide-top.introduction {
    width: 100%;
    margin: 0px 0px 0px 20px;
  }
  .animation-element.slide-bottom.introduction {
    width: 100%;
    margin: 0px 0px 0px 20px;
  }
  .h-large {
    font-size: 3.2em;
  }
  .h-subheading {
    font-size: 1.8em !important;
  }
  .contact_logo {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #sidebar-wrapper {
    left: -165px !important;
  }
  .overlay-content {
    padding-left: 12%;
  }
  .overlay-content1 {
    padding-left: 12%;
  }
  .overlay-content2 {
    padding-left: 12%;
  }
  .overlay-content-cases {
    padding-left: 12%;
  }
  .section_overlay {
    height: 530px !important;
  }
  #banner_section {
    height: 530px !important;
  }
  #box_2, #box_3 {
    margin-top: 20px;
  }
  #box_3 {
    margin-bottom: 50px;
  }
  .big_icon {
    padding-top: 15px;
  }
  .big_icon2 {
    padding-top: 25px;
  }
  .h-large {
    font-size: 4em;
  }
  .contact_logo {
    display: none;
  }
  .modal-content {
    height: 585px !important;
  }
  textarea.form-control {
    height: 100px !important;
  }
  #googleMap {
    left: 25px !important;
    max-width: 95%;
  }
}

@media only screen and (max-width: 860px) {
  #box_2, #box_3 {
    margin-top: 40px;
  }
  .boxes {
    padding-left: 20px !important;
  }
  #box_3 {
    margin-bottom: 50px;
  }
  #what_we_do {
    padding-bottom: 0px;
  }
  .box_title {
    margin: 10px 0 20px 0;
  }
  .box_link {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 938px) {
.navbar-collapse {
  background: linear-gradient(to bottom, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%);
  box-shadow: 0px 3px 10px rgba(24, 99, 0, 0.56) !important;
  max-height: 600px !important;
}
.navbar-default .nav>li>a:focus, 
.nav>li>a:hover,
.nav>li>a:active {
  background-color: transparent !important;
  color: #fff !important;
  text-decoration: none !important;
  transition: all 1s ease 0s;
  box-shadow: 0 3px 10px rgba(24, 99, 0, 0.19);
  }
.navbar-default .navbar-toggle .icon-bar {
    background-color: #048202;
  }
.navbar-toggle {
    box-shadow: 0 3px 10px #048202;
  }
.nav-container-fluid {
  height: 50px;
  }
.navbar-brand {
  width: 150px !important;
  }
#logo {
  max-width: 60% !important;
  }
}

@media screen and (max-width: 1000px) {
  .modal-content {
    height: 450px;
  }
  .modal {
    position: absolute !important;
  }
  .form-group {
    margin-bottom: 10px !important;
  }
  #container-footer {
    margin-bottom: 15px;
  }
  #sidebar-wrapper {
    left: -165px !important;
  }
  .boxes {
    padding-left: 50px !important;
  }
  #box_1, #box_2, #box_3 {
    width: 100%;
    margin: 0;
    padding: 10px 10px;
  }
}

@media screen and (max-width: 1200px) {
  .section_overlay {
    height: 400px;
  }
  #banner_section {
    height: 400px;
  }
  #box_1, #box_2, #box_3 {
    width: 80%;
    margin: 0;
    padding: 10px 10px;
  }
  #box_2, #box_3 {
    margin-top: 40px;
  }
  .boxes {
    left: 5%;
  }
  #box_3 {
    margin-bottom: 50px;
  }
  #what_we_do {
    padding-bottom: 0px;
  }
  .big_icon {
    padding-top: 15px;
  }
  .big_icon2 {
    padding-top: 25px;
    padding-left: 30px !important;
  }
  .contact_us, .social_media {
    left: 5%;
  }
  #consulta_specialistul {
    left: 4%;
  }
  #googleMap {
  left: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-nav {
    float: right !important;
    margin: 0;
  }
}

@media only screen and (min-width: 1000px) {
  .overlay-content {
    padding-left: 22% !important;
  }
  .overlay-content1 {
    padding-left: 22% !important;
  }
  .overlay-content2 {
    padding-left: 22% !important;
  }
  .overlay-content-cases {
    padding-left: 22% !important;
  }
  .introduction {
    padding-left: 22% !important;
  }
}

@media only screen and (min-width: 1200px) {
  .overlay-content {
    padding-left: 18% !important;
  }
  .overlay-content1 {
    padding-left: 18% !important;
  }
  .overlay-content2 {
    padding-left: 18% !important;
  }
  .overlay-content-cases {
    padding-left: 18% !important;
  }
  .introduction {
    padding-left: 18% !important;
  }
}
/*media queries for small devices*/